/node_modules
# exclude not minified files for analog in thingsboard
# they are more than 50 KB - which not allowed to use in ThingsBoard
dist/thingsboard/analog/**/**.js
!dist/thingsboard/analog/**/*.min.js
!dist/thingsboard/analog/**/*.test.js
